{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}

{% block page_css %}
  {% render_bundle 'portfolio' 'css' %}
{% endblock %}

{% block slider %}{% endblock slider %}
{% block nav-menu %}{% endblock nav-menu %}
{% block nav-utils %}{% endblock nav-utils %}
{% block footer-info %} {% endblock footer-info %}


{% block content %}
  <section id="content">

    <div class="section nopadding nomargin"
         style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;
             background: url({% static 'images/parallax/home/6.jpg' %}) center center no-repeat;
             background-size: cover;"></div>

    <div class="nobg full-screen clearfix">
      <div class="accordion accordion-lg divcenter " style="margin-top:30px;">

        <div class="card divcenter noradius noborder"
             style="max-width: 700px; background-color: rgba(255,255,255,0.93);">
          <div class="card-body" style="padding: 20px 40px 0 20px">
            <div class="acctitle">
              <i class="acc-closed icon-lock3"></i>
              <i class="acc-open icon-unlock"></i>SignIn
            </div>
            <div class="acc_content clearfix">

               <form id="signin-form" name="signin-form" class="nobottommargin"
                     action="{% url 'signin' %}method="post">

                {% crispy sign_in_form sign_in_form.helper %}

                <div class="col_full nobottommargin">
                  <button class="button button-3d button-green nomargin"
                          id="login-form-submit" name="login-form-submit"
                          value="signIn">SignIn
                  </button>
                  <a href="#" class="fright">Forgot Password?</a>
                </div>
              </form>

              <div class="center"></div>
            </div>
          </div>
        </div>

        <div class="card divcenter noradius noborder"
             style="max-width: 700px; background-color: rgba(255,255,255,0.93);">
          <div class="card-body" style="padding: 0 40px 20px 20px">
            <div class="acctitle">
              <i class="acc-closed icon-user4"></i>
              <i class="acc-open icon-ok-sign"></i>SignUp a New account
            </div>
            <div class="acc_content clearfix">


              <form id="signup-form" name="signup-form"
                    class="nobottommargin" action="{% url 'signup' %}" method="post">

                {% crispy sign_up_form sign_up_form.helper %}

                <div class="col_full nobottommargin">
                  <button class="button button-3d button-green nomargin"
                          id="register-form-submit"
                          name="register-form-submit"
                          value="register">SignUp Now
                  </button>
                </div>
              </form>

              <div class="center"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
{% endblock content %}

{% block page_js %}
  {% render_bundle 'portfolio' 'js' %}
{% endblock page_js %}
