django==2.1.2
django-crispy-forms==1.7.2
django-allauth==0.38.0
django-tinymce==2.7.0
requests==2.20.0
talisker==0.9.16
psycopg2-binary==2.7.5
Pillow==5.2.0
confusable_homoglyphs==3.1.1
django-webpack-loader==0.6.0
