{% extends "base.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}

{% block sub_content %}

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form id="password-reset-form" name="password-reset-form" class="nobottommargin" method="post">
  {% crispy form form.helper %}
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock sub_content %}
