{% spaceless %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
{% endspaceless %}
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="memodir.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>{% block title %}{{ title }}{% endblock %}</title>
    
    {% block page_css %}{% endblock %}
    
    {% block core_css %}
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/dark.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/font-icons.css' %}" type="text/css" /> 
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css" />
    <link rel="stylesheet" href="{%static 'css/responsive.css' %}" type="text/css" />
    {% endblock %}
    
    <link rel="shortcut icon" href="{% static 'dist/img/favicon.ico' %}">
  </head>
  
  <body class="stretched">
    {% get_current_language as LANGUAGE_CODE %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    
    <div id="wrapper" class="clearfix">
      <header id="header" class="full-header dark">
        <div id="header-wrap">
          <div class="container clearfix">
            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <div id="logo">
                <a href="index.html" class="standard-logo" data-dark-logo="{% static 'images/logo-dark.png' %}"><img src="{% static 'images/logo.png' %}" alt="Memodir Logo"></a>
                <a href="index.html" class="retina-logo" data-dark-logo="{% static 'images/logo-dark@2x.png' %}"><img src="{% static 'images/logo@2x.png' %}" alt="Memodir Logo"></a>
            </div><!-- #logo end -->

            <nav id="primary-menu">
              <ul>
                <li>                <a href="#"><div>Home</div></a></li>
                <li class="current"><a href="#"><div>Memory</div></a></li>
                <li class="mega-menu"><a href="#"><div>Blog</div></a></li>
              </ul> <!-- primary menu list end-->
              
              <div id="top-search">
                <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                <form action="#" method="get">
                      <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
                  </form>
              </div><!-- #top-search end -->
              
              {% comment %} 
              <div id="switch-language" style='float:right;'>
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <select name="language">
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                              {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Go" />
                </form>
              </div><!-- #top-search end -->
              {% endcomment %} 
    
              <div id="top-cart">
                  <a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i></a>
                  <div class="top-cart-content">
                      <div class="top-cart-items">
                          <div class="top-cart-item clearfix">
                              <div class="top-cart-item-desc">
                                  <a href="#">English</a>
                              </div>
                          </div>
                          <div class="top-cart-item clearfix">
                              <div class="top-cart-item-desc">
                                  <a href="#">Chinense</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div><!-- #top-cart end -->

          {% block navigation_container %}
          {% endblock navigation_container %}
          
          
          </div>
      </header> <!-- #header end -->
    
      <section id="slider" class="slider-element slider-parallax swiper_wrapper full-screen clearfix">
        <div class="slider-parallax-inner">
          <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
            
              <div class="swiper-slide dark" style="background-image: url('{% static "images/slider/swiper/1.jpg" %}');">
                <div class="container clearfix">
                  <div class="slider-caption slider-caption-center">
                    <h2 data-caption-animate="fadeInUp">Welcome to Memodir</h2>
                    <p class="d-none d-sm-block" data-caption-animate="fadeInUp" data-caption-delay="200">
                      Store what you care about! <br> Keep your cherish memory in place and don't get them lost!
                    </p>
                  </div>
                </div>
              </div>
              
              
              <div class="swiper-slide dark">
                  <div class="container clearfix">
                      <div class="slider-caption slider-caption-center">
                          <h2 data-caption-animate="fadeInUp">Secured &amp; Organized </h2>
                          <p class="d-none d-sm-block" data-caption-animate="fadeInUp" data-caption-delay="200">
                            Save all the data encrypted and store them safely.</p>
                      </div>
                  </div>
                  <div class="video-wrap">
                      <video poster="{% static 'images/videos/explore.jpg' %}" preload="auto" loop autoplay muted>
                          <source src='{% static "images/videos/explore.mp4" %}' type='video/mp4' />
                          <source src='{% static "images/videos/explore.webm" %}' type='video/webm' />
                      </video>
                      <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
                  </div>
              </div>
              
              <div class="swiper-slide" style="background-image: url('{% static "images/slider/swiper/3.jpg" %}'); background-position: center top;">
                  <div class="container clearfix">
                      <div class="slider-caption">
                          <h2 data-caption-animate="fadeInUp">Great Performance</h2>
                          <p class="d-none d-sm-block" data-caption-animate="fadeInUp" data-caption-delay="200">You'll be surprised to see the Final Results of your Creation &amp; would crave for more.</p>
                      </div>
                  </div>
              </div>
            </div>
            
            <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
            <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
            <div class="slide-number">  
              <div class="slide-number-current"></div><span>/</span>
              <div class="slide-number-total"></div>
            </div>

            
          </div>
        </div>
      </section><!-- #slider end -->
  
      <section id="content">
        <div class="content-wrap">
          <div id="messages">
            {% block messages %}
            {% if messages %}
              {% for message in messages %}
              <p class="message{% if message.tags %} {{ message.tags }}"{% endif %}>{{ message }}</p>
              {% endfor %}
            {% endif %}
            {% endblock messages %}
          </div>
          
          

          <div class="container clearfix">
            <div class="col_full">
            {% block header_container %}
              {% blocktrans %}Welcome to the MemoDir site{% endblocktrans %} <br>
            {% endblock header_container %}
            </div>
            
            <div class="clear"></div>

            <div class="col_one_third nobottommargin">
              <div class="feature-box fbox-effect">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-stack i-alt"></i></a>
                </div>
                <h3>Feature 1</h3>
                <p>{% lorem 20 w random %}</p>
              </div>
            </div>

            <div class="col_one_third nobottommargin">
              <div class="feature-box fbox-effect">
                <div class="fbox-icon">
                  <a href="#"><i class="icon-tint i-alt"></i></a>
                </div>
                <h3>Feature 2</h3>
                <p>{% lorem 20 w random %}</p>
              </div>
            </div>

            <div class="col_one_third nobottommargin col_last">
              <div class="feature-box fbox-effect">
                <div class="fbox-icon">
                    <a href="#"><i class="icon-text-width i-alt"></i></a>
                </div>
                <h3>Feature 3</h3>
                <p>{% lorem 20 w random %}</p>
              </div>
            </div>

            <div class="clear"></div><div class="line"></div>

          {% block content_container %}
          {% endblock content_container %}
          </div>
        
        
          
        </div>
      </section><!-- #content end -->
  
      <footer id="footer" class="dark">
        <div class="container">
          <div class="footer-widgets-wrap clearfix">
            <div class="col_two_third">
              <div class="col_two_third">
                <h2>col-two-third</h2>
              </div>
              <div class="col_two_third">
                <h2>col-two-third</h2>
              </div>
            </div>
            <div class="col_one_third col_last">
                <h2>col-one-third</h2>
            </div>
          </div>
        </div>
        
        <div id="copyrights">
          <div class="container clearfix">
            {% block footer_container %}
            {% endblock footer_container %}

            <div class="col_half">
              Copyrights &copy; 2018 All Rights Reserved by Memodir.com.<br>
              <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
            </div>

            <div class="col_half col_last tright">
              <div class="fright clearfix">
                <a href="#" class="social-icon si-small si-borderless si-facebook">
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>

                <a href="#" class="social-icon si-small si-borderless si-twitter">
                  <i class="icon-twitter"></i>
                  <i class="icon-twitter"></i>
                </a>

                <a href="#" class="social-icon si-small si-borderless si-gplus">
                  <i class="icon-gplus"></i>
                  <i class="icon-gplus"></i>
                </a>


                <a href="#" class="social-icon si-small si-borderless si-linkedin">
                  <i class="icon-linkedin"></i>
                  <i class="icon-linkedin"></i>
                </a>
              </div>

              <div class="clear"></div>

              <i class="icon-envelope2"></i> info@memodir.com <span class="middot">&middot;</span> 
              <!-- <i class="icon-headphones"></i> +91-11-6541-6369 <span class="middot">&middot;</span>-->
              <!--<i class="icon-skype2"></i> CanvasOnSkype -->
            </div>
          </div>
        </div><!-- #copyrights end -->
        
      </footer><!-- #footer end -->

    </div>

    <!-- Go To Top -->
    <div id="gotoTop" class="icon-angle-up"></div>

    {% block core_js %} 
      <script src="{% static 'js/jquery.js' %}"></script>
      <script src="{% static 'js/plugins.js' %}"></script>

      <script src="{% static 'js/functions.js' %}"></script> 
    {% endblock core_js %}
    
    {% block page_js %}{% endblock page_js %}
</html>
