{% extends 'base/base.html' %}
{% load i18n static %}
{% load render_bundle from webpack_loader %}

{% block page_css %}
  {% render_bundle 'portfolio' 'css' %}
  <link rel="stylesheet" href="{% static 'css/components/daterangepicker.css' %}" type="text/css" />
{% endblock page_css %}

{% block header_container %} {% endblock header_container %}
{% block slider %}{% endblock slider %}


{% block content %}

<div id="messages">
  {% block messages %}
    {% if messages %}
      {% for message in messages %}
        <div class="style-msg {% if message.tags %}{{ message.tags }}msg{% endif %}">
          <div class="sb-msg"><i class="icon-info-sign"></i><strong></strong>{{ message }}</div>
          <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        </div>
      {% endfor %}
    {% endif %}
  {% endblock messages %}
</div>
  <div class="content-wrap">
    <div class="container clearfix">
      {% block sub_content %}{% endblock sub_content %}
    </div>

  </div>

{% endblock content %}

{% block page_js %}
  {{ block.super }}
  {% render_bundle 'portfolio' 'js' %}

  <!-- Include Date Range Picker -->
  <script src="{% static 'js/components/moment.js' %}"></script>
  <script src="{% static  'js/components/daterangepicker.js' %}"></script>

  <script>
    $(".form-start-date").daterangepicker({
            autoUpdateInput: false,
            singleDatePicker: true,
            showDropdowns: true,
            'locale': {
                format: 'YYYY-MM-DD',
            }
        },
        function(start, end, label) {
            this.element.val(start.format('YYYY-MM-DD'));
        });
  </script>
{% endblock page_js %}



