{% extends "_base_resume.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block page_css %}
  {% render_bundle 'portfolio' 'css' %}
{% endblock %}


{% block header_container %} {% endblock header_container %}
{% block slider %}{% endblock slider %}

{% block sub_content %}

<h2>{% blocktrans %}Deletion confirmation{% endblocktrans %}</h2>

<form action="" method="post">
  <div>
    {% csrf_token %}
    {{ warning_msg }}
    <div>
      <ul>
        {% for delete_object in delete_object_list %}
          <li>
            {{ delete_object }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div>
    <input type="submit" value="{% trans 'Confirm deletion' %}" name="confirm_delete" class="button button-blue capitalize "/>
    <a href="{{ back_url }}" class="button button-teal capitalize">Cancel</a>

  </div>

</form>

{% endblock sub_content %}


