{% extends "base/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content_container %}
<hr>
<h2>{% blocktrans %}Experience{% endblocktrans %}</h2>
{% for we1_fields in work_experience_list %}
    {% for field_name, field_value in we1_fields.items %}
        {{ field_name }}: {{ field_value }} <br>
    {% endfor %}
    <hr>
{% endfor %}


<hr>
<h2>{% blocktrans %}Projects{% endblocktrans %}</h2>
{% for proj_fields in project_list %}
    {% for field_name, field_value in proj_fields.items %}
        {{ field_name }}: {{ field_value }} <br>
    {% endfor %}
    <hr>
{% endfor %}

<hr>
{% comment %}
<form action='{% url 'project_list'%}' method='post'>
{% csrf_token %}
{{ form }}
<input type="submit" value="create">
</form>
{% endcomment %}

{% crispy form form.helper %}

{% endblock content_container %}


