{% extends "_base_resume.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block page_css %}
  {% render_bundle 'portfolio' 'css' %}
{% endblock %}


{% block header_container %} {% endblock header_container %}
{% block slider %}{% endblock slider %}

{% block sub_content %}

  {% if error %}
    <div class="error">{{ error }}</div>
  {% endif %}
  {% if work_experience_list %}
    <h3>{% blocktrans %}Work Experience List{% endblocktrans %}</h3>
    {% if not error %}
      {% crispy form form.helper %}
    {% endif %}
    <ul>

  {% for work_experience in work_experience_list %}
    {% url 'work-experience-translation-new' work_experience.id as update_translation_url %}
    {% url 'work-experience-delete' work_experience.id as delete_work_experience_url %}
    <li>
      {{ work_experience }}[{{ work_experience.id }}] -- <a href="{{ update_translation_url }}">Edit</a>
      | <a href="{{ delete_work_experience_url }}">Delete</a>
    </li>
  {% endfor %}
  {% endif %}
  </ul>

{% endblock sub_content %}


