{% extends "_base_resume.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block page_css %}
  {% render_bundle 'portfolio' 'css' %}
{% endblock %}


{% block header_container %} {% endblock header_container %}
{% block slider %}{% endblock slider %}

{% block sub_content %}
  <a href="{% url 'work-experience-list' %}">experience list</a> <
  <a href="{{ back_url }}">translation list</a>

  <h3>{{ title }}</h3>

  {% if error %}
    <div class="alert-danger">{{ error }}</div>
    <br>
  {% else %}
    {% for translation in work_experience_trans_list %}
      {% url 'work-experience-translation-update' translation.id as translation_url %}
      {% url 'work-experience-translation-delete' translation.id as delete_translation_url %}
      <li>
        {{ translation }} -- <a href="{{ translation_url }}">Edit</a> | <a href="{{ delete_translation_url }}">Delete</a>
      </li>
    {% endfor %}

    <br>
    {% if not error and not are_all_languages_created %}
      {% if type != 'update' %}
        <button class="button" onclick="javascript:$('#id-new-work-experience-translation-form').removeClass('hidden');$(this).hide();">Create new translation</button>
      {% endif %}
      {% crispy form form.helper %}
    {% endif %}
    {% comment %}
    todo: when the form contains the validation error, it still hide the form byd default
    {% endcomment %}

  {% endif %}

{% endblock sub_content %}


{% block page_js %}
{{ super }}

<script>
  {% if type == 'update' %}
    $(document).ready(function(){
        $('#id-new-work-experience-translation-form').removeClass('hidden');
    });
  {% endif  %}
</script>

{% endblock page_js %}
