{% extends "_base_resume.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}


{% block header_container %} {% endblock header_container %}
{% block slider %}{% endblock slider %}

{% block sub_content %}

  {% if error %}
    <div class="error">{{ error }}</div>
  {% endif %}

  <div class="col_four_fifth nomargin">
    <a href="{% url 'work-experience-list' %}">experience list</a>
    <h2 class="topmargin-sm1">
      {% blocktrans %}Create new work experience{% endblocktrans %}
    </h2>
  </div>

  {% if not error and form%}
    <div class="col_four_fifth nomargin">
      {% crispy form form.helper %}
    </div>
  {% endif %}

{% endblock sub_content %}


