{% extends "_base_resume.html" %}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block page_css %}
  {% render_bundle 'portfolio' 'css' %}

  <style>
  .card-header .work-experience-title{
    font-size: 20px;
    font-weight: bold;
  }
  .card-header .work-experience-operation{
    margin-top: 4px;
    float: right;
  }

  .card-body .work-experience-duration{
    margin-left: 10px;
    color: grey;
    font-size: 16px;
    font-weight: normal;
  }

  </style>
{% endblock %}

{% block header_container %} {% endblock header_container %}
{% block slider %}{% endblock slider %}

{% block sub_content %}

  <div class="col_full nomargin">
    <h3 class="topmargin-sm">
      {% blocktrans %}Work experience list{% endblocktrans %}
      {% if not is_public %}
        <a class="button capitalize float-right leftmargin-lg" href="{% url 'work-experience-add' %}">{% trans 'Create new experience' %}</a>
      {% endif %}
    </h3>
    <!--button id='show-all' class="button button-small button-blue capitalize float-right leftmargin-lg">{%trans 'show all' %}</button-->
  </div>

{% if error %}
<div class="col_full">
  <div class="alert-danger" style="font-size:20px; margin: 12px;">{{ error }}</div>
</div>
{% else %}
{% for work_experience in work_experience_list %}
  {% url 'work-experience-delete' work_experience.id as delete_work_experience_url %}
  {% url 'work-experience-translation-list' work_experience.id as list_work_experience_url %}
  <div class="col_full card bottommargin-sm">
    <div class="card-header">
      <span class="work-experience-title">{% trans work_experience.company|default:'&nbsp;' %}</span>

      {% if not is_public %}
      <span class="work-experience-operation">
        <a href="{{ list_work_experience_url }}">{% trans 'Edit' %}</a> |
        <a href="{{ delete_work_experience_url }}">{% trans 'Delete' %}</a>
      </span>
      {% endif %}
    </div>

    <div class="card-body">
      <h4 class="card-title">
        {% trans work_experience.position %}
        <span class="work-experience-duration">
        {{ work_experience.date_start|localize }} -
          {% if work_experience.date_end %}
            {{ work_experience.date_end|localize }}
          {% else %}
            {% trans 'Now' %}
          {% endif %}
      </span>
      </h4>
      <p class="card-text">
        {% autoescape off %}
          {%  trans work_experience.contribution %}
        {% endautoescape %}
      </p>
    </div>
  </div>
{% endfor %}

{% endif %}

{% endblock sub_content %}


{% block page_js %}
  {{ block.super }}

  <script>
      $(document).ready(function(){
          /*
          $('div .card-body').hide();

          $('#show-all').bind({
              click: function () {
                  $('div .card-body').show();
              },
          })
          */
      });
  </script>
{% endblock page_js %}
