{% extends "_base_resume.html" %}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block page_css %}
  {% render_bundle 'portfolio' 'css' %}
  <style>
  .card-header .work-experience-title{
    font-size: 18px;
    font-weight: bold;
  }
  </style>
{% endblock %}


{% block header_container %} {% endblock header_container %}
{% block slider %}{% endblock slider %}

{% block sub_content %}

  <div class="col_four_fifth nomargin">
    <h2 class="topmargin-sm">
      {% blocktrans %}Work experience list{% endblocktrans %}
      <a class="button capitalize float-right leftmargin-lg" href="{% url 'work-experience-add' %}">{% trans 'Create new experience' %}</a>
    </h2>

    <!--button id='show-all' class="button button-small button-blue capitalize float-right leftmargin-lg">{%trans 'show all' %}</button-->
  </div>

{% for work_experience in work_experience_list %}
  {% url 'work-experience-delete' work_experience.id as delete_work_experience_url %}

  <div class="col_four_fifth card bottommargin-sm">
    <div class="card-header">
      <span class="work-experience-title">{{ work_experience.company|default:'&nbsp;' }}</span>
      <span class="float-right">
        <a href="{{ delete_work_experience_url }}">{% trans 'Delete' %}</a>
      </span>
    </div>

    <div class="card-body">
      {% with translation_list=work_experience.translations.all %}
        <div class="tabs tabs-alt clearfix">

          {% if translation_list %}
          <ul class="tab-nav clearfix">
            {% for translation in translation_list %}
              <li><a href="#tabs-{{ translation.id }}">{{ translation.get_language }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}

          {% if translation_list %}
          <div class="tab-container">
            {% for translation in translation_list %}
            <div class="tab-content clearfix" id="tabs-{{ translation.id }}">
              <span class="float-right">
                {% url 'work-experience-translation-update' translation.id as update_translation_url %}
                {% url 'work-experience-translation-delete' translation.id as delete_translation_url %}
                <a href="{{ update_translation_url }}">{% trans 'Edit' %}</a> |
                <a href="{{ delete_translation_url}}">{% trans 'Delete' %}</a>
              </span>
              <h4 class="card-title">{{ translation.position }}</h4>
              <p>{{ translation.date_start|localize }} -
                {% if translation.date_end %}{{ translation.date_end|localize }}{% else %}{% trans 'Now' %}{% endif %}</p>
              <p class="card-text">
                {% autoescape off %}
                  {{ translation.contribution }}
                {% endautoescape %}
              </p>
            </div>
            {% endfor %}
          </div>
          {% endif %}

        </div>

    </div>
      {% endwith %}
  </div>
{% endfor %}

{% endblock sub_content %}


{% block page_js %}
  {{ block.super }}

  <script>
      $(document).ready(function(){
          /*
          $('div .card-body').hide();

          $('#show-all').bind({
              click: function () {
                  $('div .card-body').show();
              },
          })
          */
      });
  </script>
{% endblock page_js %}

