{% extends "_base_resume.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block page_css %}
  {% render_bundle 'portfolio' 'css' %}
{% endblock %}


{% block header_container %} {% endblock header_container %}
{% block slider %}{% endblock slider %}

{% block sub_content %}

  {% if error %}
    <div class="error">{{ error }}</div>
  {% endif %}

  <h2>{% blocktrans %}Create new Work experience{% endblocktrans %}</h2>

  {% if not error and form%}
    {% crispy form form.helper %}
  {% endif %}

{% endblock sub_content %}


