{% extends 'base.html' %}
{% load i18n static %}
{% load crispy_forms_tags %}

{% block content %}
  <section id="content">

    <div class="section nopadding nomargin"
         style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;
             background: url({% static 'images/parallax/home/6.jpg' %}) center center no-repeat;
             background-size: cover;"></div>

    <div class="nobg full-screen clearfix">

      <div class="card divcenter noradius noborder"
           style="max-width: 700px; background-color: rgba(255,255,255,0.93);
            margin-top: 40px;">
        <div class="card-body" style="padding: 40px;">

          <form id="signup-form" name="signup-form"
                class="nobottommargin" action="{% url 'signup' %}" method="post">

            <h3>{% trans 'SignUp' %}</h3>

            {% crispy form form.helper %}

          </form>

          <div style="padding-top: 20px;">
            <a href="{% url 'signin' %}">{% trans 'Already have an account? SignUp HERE' %}</a>
          </div>
        </div>

      </div>


    </div>
  </section>
{% endblock content %}

