{% extends '_base.html' %}
{% load i18n static %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block sub_content %}
<form id="sign-in-form" name="sign_in-form" class="nobottommargin"
      action="{% url 'signin' %}" method="post">
  <h3>{% trans 'SignIn' %}</h3>

  {% crispy form form.helper %}

  <div class="col_full nobottommargin1">
    <div class="clear"></div>
    <button class="button button-3d button-green nomargin"
            id="login-form-submit" name="login-form-submit"
            value="signIn">{% trans 'SignIn' %}
    </button>
    <a href="{% url 'password_reset' %}" class="fright">{% trans 'Forgot Password?' %}</a>
  </div>
</form>

<div>
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}

<div class="col_full clearfix">
  <div>
    {% blocktrans with site.name as site_name %}
      Or sign in with following third party accounts:
    {% endblocktrans %}
  </div>

  {% for provider in socialaccount_providers %}
    {% with provider_name=provider.name|lower %}
    <a title="{{provider.name}}" class="social-icon si-borderless si-text-color si-{{provider_name}}"
       href="{% provider_login_url provider.id process='login' scope=scope auth_params=auth_params %}">
      {% if provider.name|lower == 'github' %}
        <i class="icon-{{provider_name}}-circled"></i>
        <i class="icon-{{provider_name}}-circled"></i>
      {% else %}
        <i class="icon-{{provider_name}}"></i>
        <i class="icon-{{provider_name}}"></i>
      {% endif %}
    {% endwith %}
    </a>
  {% endfor %}

</div>

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

</div>

{% endif %}


<div style="padding-top: 20px;">
  <a href="{% url 'signup' %}">
    {% trans "Don't have an account? Signup one now!" %}
  </a>
</div>

{% endblock sub_content %}

