{% extends '_base.html' %}
{% load i18n static %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %}{% trans 'SignIn' %}{% endblock title %}

{% block sub_content %}
<form id="sign-in-form" name="sign_in-form" class="nobottommargin" action="{% url 'signin' %}" method="post">
  <h3>{% trans 'Sign In' %}</h3>

  <input type="hidden" name="next" value="{{ next }}" />

  {% crispy form form.helper %}

  <div class="col_half nobottommargin">
    <div class="clear"></div>
    <button class="button button-blue nomargin" formnovalidate id="sign-in-form-submit" name="sign-in-form-submit">{% trans 'SignIn' %}</button>
    <a href="{% url 'password_reset' %}" class="leftmargin-sm">{% trans 'Forgot Password?' %}</a>
  </div>

  <div class="col_half col_last nobottommargin">
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        <div style="float: right;">
            <span class="float-left" style="margin-top: 10px;">{% trans 'SignIn with' %}</span>
            {% for provider in socialaccount_providers %}
                <a title="{{provider.name}}" class="social-icon si-borderless si-text-color si-{{provider.id}}"
                   href="{% provider_login_url provider.id process='login' scope=scope auth_params=auth_params %}">
                    <i class="icon-{{provider.id}}{% if provider.id == 'github' %}-circled{% endif %}"></i>
                    <i class="icon-{{provider.id}}{% if provider.id == 'github' %}-circled{% endif %}"></i>
                </a>
            {% endfor %}
        </div>
    {% endif %}
    </div>
    <div class="clearfix"></div>
    <div class="line line-sm nobottommargin" ></div>
    <div class="nomargin" >
        {% trans 'New to MemoDir? ' %}
        <a href="{% url 'signup' %}">
            <span class='font-weight-bold'>{% trans 'Sign Up Now >>' %}</span>
        </a>
    </div>

</form>



{% endblock sub_content %}

