{% extends "_base_profie.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}
{% get_media_prefix as MEDIA_PREFIX %}

{% block slider %}{% endblock slider %}

{% block sub_content %}
  <div class="row clearfix">
    <div class="heading-block noborder nomargin">
      <div style="margin: 40px 0 0 60px;">
        <h3>Profile Not Found</h3>
      </div>
    </div>
  </div>

{% endblock sub_content %}

{% block footer-info %}
{% endblock footer-info %}
