{% extends "_base_profie.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}
{% get_media_prefix as MEDIA_PREFIX %}

{% block slider %}{% endblock slider %}

{% block sub_content %}
  <div class="row clearfix">
    {% if object.photo.url  %}
      <img src="{{ object.photo.url }}" class="alignleft img-circle img-thumbnail noborder notopmargin nobottommargin" style="max-width: 200px;">
    {% endif %}
    <div class="heading-block noborder nomargin">
      <div style="margin: 40px 0 0 60px;">

        <h3>{{ object.user}}'s {% blocktrans %}Profile{% endblocktrans %}</h3>
        <div class="fright"> <a href="{% url 'profile-edit' %}">Edit Profile</a></div>
      </div>
    </div>
  </div>

  <div id="portfolio1"></div>
{% endblock sub_content %}

{% block footer-info %}
  <h4> 这里是中文显示的系统字体 </h4>
  <h4 class="font-kai"> 这里是中文显示的楷体</h4>
{% endblock footer-info %}
