{% extends "_base_profie.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block page_css %}
  {{ block.super }}

	<link rel="stylesheet" href="{% static 'css/components/daterangepicker.css' %}" type="text/css" />

  <link rel="stylesheet" href="{% static 'css/components/bs-filestyle.css' %}" type="text/css" />

{% endblock page_css %}

{% block sub_content %}

<div class="card divcenter noradius border"
     style="max-width: 800px; background-color: rgba(250,250,250,0.91);
        margin: 40px 0;">
  <div class="card-body" style="padding: 40px">
    <h2>{% blocktrans %}Profile{% endblocktrans %}</h2>
    {% crispy form form.helper %}
  </div>
</div>

{% endblock sub_content %}



{% block page_js %}

  {{ block.super }}

  <!-- Include Date Range Picker -->
	<script src="{% static 'js/components/moment.js' %}"></script>
	<script src="{% static  'js/components/daterangepicker.js' %}"></script>

  <script src="{% static  'js/components/bs-filestyle.js' %}"></script>

  <script>
    $(".daterange3").daterangepicker({
				  singleDatePicker: true,
				  showDropdowns: true,
          "locale": {
            format: 'YYYY-MM-DD',
          }
			},
			function(start, end, label) {});
    $("#id_photo").fileinput({
      showUpload: false,
			maxFileCount: 10,
			mainClass: "input-group-lg",
      showCaption: true
    });


  </script>
{% endblock %}