{% extends "base/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load render_bundle from webpack_loader %}

{% block page_css %}
{% render_bundle 'profile' 'css' %}
{% endblock %}

{% block header_container %}
{% endblock header_container %}

{% block sub_content %}
<h2>{% blocktrans %}Profile{% endblocktrans %}</h2>

<div id="profile"> </div>

{% crispy form form.helper %}

{% endblock sub_content %}



{% block page_js %}
  {% render_bundle 'profile' 'js' %}
{% endblock page_js %}
